.Rproj.user
.Rhistory
.RData

*.Rproj

*.tex

*.bbl

*.log

*.pdf

*.gz

app/shinyapps/erichare/gglogo.dcf

app/rsconnect/shinyapps.io/erichare/gglogo.dcf

data/frequencies-2nd.csv

data/frequencies.csv

cache

logos_cache
